<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="clientTraceListener" />
				<remove name="Default" />
			</listeners>
		</trace>

		<sources>
			<!-- XXX the switchValue gets overridden to error for some reason -->
			<source name="System.Windows.Data" switchValue="Information">
				<listeners>
					<add name="clientTraceListener" />
					<remove name="Default" />
				</listeners>
			</source>
		</sources>

		<sharedListeners>
			<add name="clientTraceListener" type="Dwarrowdelf.MMLogTraceListener,Dwarrowdelf.Common" />
		</sharedListeners>
	</system.diagnostics>

</configuration>
