<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Dwarrowdelf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<section name="myTraceSettings" type="Dwarrowdelf.MyTraceSettings, Dwarrowdelf.Common"/>
	</configSections>
	<myTraceSettings>
		<defaultTraceLevels>
			<!--
			Off				Output no tracing and debugging messages.
			Error			Output error-handling messages.
			Warning		Output warnings and error-handling messages.
			Info			Output informational messages, warnings, and error-handling messages.
			Verbose		Output all debugging and tracing messages.
			-->
			<add name="Connection" level="Info"/>

			<add name="Server.World" level="Info"/>
			<add name="Server.GameEngine" level="Info"/>
			<add name="Server.Player" level="Info"/>
			<add name="Server.User" level="Info"/>

			<add name="Client.Render" level="Error"/>
			<add name="Client.User" level="Info"/>
			<add name="Client.Turn" level="Error"/>
			<add name="Client.BuildItemManager" level="Verbose"/>
		</defaultTraceLevels>
	</myTraceSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="clientTraceListener"/>
				<remove name="Default"/>
			</listeners>
		</trace>
		<!--
		Off             Does not allow any events through.
		Critical        Allows only Critical events through.
		Error           Allows Critical and Error events through.
		Warning         Allows Critical, Error, and Warning events through.
		Information     Allows Critical, Error, Warning, and Information events through.
		Verbose         Allows Critical, Error, Warning, Information, and Verbose events through.
		ActivityTracing Allows the Stop, Start, Suspend, Transfer, and Resume events through.
		All             Allows all events through.
		-->
		<sources>
			<!-- XXX the switchValue gets overridden to error for some reason -->
			<source name="System.Windows.Data" switchValue="Warning">
				<listeners>
					<add name="clientTraceListener"/>
					<remove name="Default"/>
				</listeners>
			</source>
			<!--
			<source name="System.Net" tracemode="includehex" maxdatasize="1024" switchValue="Information">
				<listeners>
					<add name="clientTraceListener" />
				</listeners>
			</source>

			<source name="System.Net.Sockets" switchValue="Information">
				<listeners>
					<add name="clientTraceListener" />
				</listeners>
			</source>

			<source name="System.Net.Cache" switchValue="Information">
				<listeners>
					<add name="clientTraceListener" />
				</listeners>
			</source>
			-->
		</sources>
		<sharedListeners>
			<add name="clientTraceListener" type="Dwarrowdelf.MMLogTraceListener,Dwarrowdelf.Common"/>
		</sharedListeners>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SharpDX" publicKeyToken="627a3d6d1956f55a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SharpDX.DXGI" publicKeyToken="627a3d6d1956f55a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
