<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Dwarrowdelf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>

	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="clientTraceListener" />
				<remove name="Default" />
			</listeners>
		</trace>


		<!--
		Off             Does not allow any events through.
		Critical        Allows only Critical events through.
		Error           Allows Critical and Error events through.
		Warning         Allows Critical, Error, and Warning events through.
		Information     Allows Critical, Error, Warning, and Information events through.
		Verbose         Allows Critical, Error, Warning, Information, and Verbose events through.
		ActivityTracing Allows the Stop, Start, Suspend, Transfer, and Resume events through.
		All             Allows all events through.
		-->

		<sources>
			<!-- XXX the switchValue gets overridden to error for some reason -->
			<source name="System.Windows.Data" switchValue="Warning" >
				<listeners>
					<add name="clientTraceListener" />
					<remove name="Default" />
				</listeners>
			</source>

			<source name="Dwarrowdelf.Render" switchValue="Warning">
				<listeners>
					<add name="clientTraceListener" />
					<remove name="Default" />
				</listeners>
			</source>

			<source name="Dwarrowdelf.Connection" switchValue="Information">
				<listeners>
					<add name="clientTraceListener" />
					<remove name="Default" />
				</listeners>
			</source>

			<source name="Dwarrowdelf.AssignmentAI" switchValue="Warning">
				<listeners>
					<add name="clientTraceListener" />
					<remove name="Default" />
				</listeners>
			</source>

			<source name="Dwarrowdelf.Building" switchValue="All">
				<listeners>
					<add name="clientTraceListener" />
					<remove name="Default" />
				</listeners>
			</source>

			<!--
			<source name="System.Net" tracemode="includehex" maxdatasize="1024" switchValue="All">
				<listeners>
					<add name="clientTraceListener" />
				</listeners>
			</source>

			<source name="System.Net.Sockets" switchValue="All">
				<listeners>
					<add name="clientTraceListener" />
				</listeners>
			</source>

			<source name="System.Net.Cache" switchValue="All">
				<listeners>
					<add name="clientTraceListener" />
				</listeners>
			</source>
			-->
		</sources>

		<sharedListeners>
			<add name="clientTraceListener" type="Dwarrowdelf.MMLogTraceListener,Dwarrowdelf.Common" />
		</sharedListeners>
	</system.diagnostics>

</configuration>
